# Define when and how to trigger a CI/CD pipeline.

# Launch a pipeline on every Pull Request.
[pr test]
command = python pipeline.py pr --branch={branch}

# Launch a pipeline every time a branch is updated.
# TODO: Replace "my_awesome_branch" with your production branch.
[push production]
filter = {branch} == my_awesome_branch
command = python pipeline.py deploy